*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
p
{
align-content: center;
}
.uppercontainer{
    width: 50%;
    height: 50%;
    margin: 50px auto;
    position: relative;
    padding-bottom: 0px;
  

}
.uppercontainer1{
    width: 35%;
    height: 100%;
    padding-top: 20px ;
    padding-bottom: 0px;
}
#mark{
    font-weight: bold;
    font-size: 2.5rem;
}
#marks{
    font-size: 2.5rem;
    margin-left: 10px;
    opacity:0.5;
}
.uppercontainer2
{
    width: 38%;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    
    
}

#addlists
{
    position: absolute;
    width: 85%;
    height: 100%;
    top: 0px;
    right: 0px;
    opacity:0.5;
    font-size: 25px;
    padding-top:30px ;
    
    
   
}
.type
{
    margin-top: 150px;
    margin-bottom: 30px;

    
}
.container
{
    width: 50%;
    height: 300px;
    display: flex;
    justify-content:space-evenly;
    margin:320px;
    margin-top: 0px;
    
   
    
}


.text
{
    width: 25%;
    height: 250px;
    border: 1px solid;
    border-radius: 12px;
    border-color: red;
    box-shadow: 4px 3px 1px lightgrey;
    font-family: adobe-clean sans-serif ;
    letter-spacing: 0.5px;
    
   
    
}
.test
{
    font-family: 'Open Sans Condensed', sans-serif;
    align-content: center;
    color: orangered;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
    
    
 
}


.d
{
    margin-top: 20px;
    margin-left: 10px;
   
    
}
.press
{
    width: 20px;
    height: 20px;
    background-color: white;
    cursor: pointer;
}
#u2
{
    width: 38%;
    height: 100%;
    padding-top: 20px;
    position: relative;
    top:50px;
    right: 100px;
    padding-bottom: 0px;
    border-bottom: 0px;
   
}

.e
{
    width: 38%;
    height: 100%;
    padding-top: 127px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    padding-right: 832px;
    
    
}
.l
{
    font-size: 25px;
    opacity: 0.5;
}
.m
{
    width: 20%;
    height: 300px;
    box-sizing: border-box;
    
    display: flex;
    justify-content:space-evenly;
    margin:320px;
    margin-top: 30px;
    border: 1px solid red;
    font-size: 25px;
}
.add
{
   
    margin-top: 250px;
}
.notshow
{
    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.popup{
    position: absolute;
    left: 37%;
    top: 30%;
    height: 25%;
    width: 27%;
    border: 1.5px solid red;
    border-radius: 10px;
    color: red;
    font-size:10px ;
    box-shadow: 3px 10px grey;
    background-color: white;
    padding: 20px;
}
.addnew
{
    opacity:0.7 ;
    font-size: 17px;
}
.popupbar
{
    margin-top: 20px;
    border-radius: 5px;
    width:85% ;
    height: 25%;
    box-shadow: 1px 3px grey;
    border: 1.5px solid red;
}
.button
{
    width: 25%;
    height: 20%;
    margin-top:18px ;
    color: white;
    background-color: red;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 130px;
    font-size: 20px;
}
